/*
BODY BACKGROUND : #D5E1EF
CARD BACKGROUND : #FFFFFF
HEADING TEXT : #1F314F
TEXT : #68778D 

SPACING 40PX 24PX 16PX

400 - regular
500 - medium
600 - semibold
700 - bold

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 320px;
    padding: 16px 16px 40px 16px;
    background-color: #ffffff;
    border-radius: 20px;
}

.img-container img {
    width: 100%;
    border-radius:10px;
    margin-bottom: 24px;
}

.card-content {
    text-align: center;
    padding: 0 16px;
}

.card-content-heading {
    font-weight: 700;
    line-height: 1.2;
    font-size: 22px;
    margin-bottom: 16px;
    color: #1F314F;
}

.card-content-text {
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 1.4;
    color: #68778D;
}




